body {
    margin: 0;
    background-color: slategrey;
    background-size: cover;
}
.body{
   
}

.header{
    display: flex;
    justify-content: space-around;;
    flex-wrap: nowrap;
}
.videoPlayer{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.rankingStats{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    margin-left:4rem;
    margin-right:4rem;
}
.table{
    border: solid
}